body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #007bff;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
    font-weight: bold;
}

input, select {
    padding: 8px;
    font-size: 16px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.result, .error {
    margin-top: 20px;
    padding: 10px;
    background-color: #e7f3fe;
    border-left: 6px solid #2196F3;
}

.error {
    background-color: #f8d7da;
    border-left: 6px solid #f5c6cb;
}

/* Estilo para o botão de doação */
.doacao {
    margin-top: 20px;
    text-align: center;
}

.doar-btn {
    background-color: #8A05BE;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.doar-btn:hover {
    background-color: #6A029B;
}

/* Responsividade */
@media (max-width: 600px) {
    .container {
        margin: 20px;
        padding: 15px;
    }

    h1 {
        font-size: 24px;
    }

    input, select, button {
        font-size: 14px;
    }

    .doar-btn {
        padding: 8px 16px;
        font-size: 14px;
    }
}
